body {
    background: rgb(134, 198, 218);
    width: 100%;
    height: 500px;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400 px;
    background-color: bisque;
}

thead tr{
    background-color: rgb(192, 124, 41);
    color: white;
    text-align: left;
    font-weight: bold;

}

th, td{
    padding: 10px 10px;
}

tbody tr{
    border-bottom: 1px solid white;
}


